.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.avatar__intro {
  justify-content: start;
}

.comet {
  background-color: #f6f5f4;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cometCraft div:first-child {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cometCraftCode {
  background-color: var(--ifm-color-gray-900);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  display: inline-block;
}

.cta:hover {
  background-color: #034b70;
  color: white;
}

.logo {
  height: 70px;
}

.cometImage {
  border-radius: 1rem;
}

.urlSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBlack {
  color: black;
}
